* {
  color: white;
}

body {
  margin: 0;
  min-height: 1000vh;
  background-color: black;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.nav-left {
  display: flex;
}

.logo {
  margin: 0 2rem;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.nav-name {
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.nav-right {
  margin-left: auto;
}

.nav-item-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: 1rem;
  list-style-type: none;
}

.nav-item-link {
  text-decoration: none;
}

.nav-item-link:hover {
  color: aqua;
}

/* Hero Section */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}

.hero-img {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
  display: block;
}

.hero-left {
  width: 40%;
}

.hero-right {
  width: 60%;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.hero-container .title {
  text-align: left;
  padding-left: 1rem;
}

.description {
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
